Flask==2.3.3
Werkzeug<3.0.0
# Flask-SQLAlchemy>=3.0.0
# sqlalchemy>=2.0.0
# Flask-Migrate
Flask-Login==0.6.3
Flask-WTF
Flask-Mail
python-dotenv
WTForms
email-validator
python-dateutil
Pillow>=10.1.0
PyPDF2
reportlab
hashids
gunicorn
# psycopg2-binary>=2.9.9
supabase>=2.0.0
